.checkbox {
  background-color: var(--theme-300);
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 22px;
  height: 22px;

  display: inline-block;
  position: relative;
  transition: background-color 400ms linear 0s;

  &.checked::before {
    width: 22px;
    min-height: 22px;

    top: 0;
    left: 0;
    background-image: 
      url("../images/icon-check.svg"),
      var(--clr-primary-gradient)
  }

  &::before {
    background-color: var(--theme-100);
    background-position: left 50% top 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    content: "";
    width: 19px;
    min-height: 19px;
    position: absolute;
    top: 1.5px;
    left: 1.5px;
    transition: background-color 400ms linear 0s;
  }

  &:hover {
    background-image: var(--clr-primary-gradient);
    cursor: pointer;
  }
}

@media (min-width: 720px) {
  .checkbox {
    width: 24px;
    min-height: 24px;

    &.checked::before {
      width: 24px;
      min-height: 24px;
    }

    &::before {
      width: 21px;
      min-height: 21px;
    }
  }
}
