$current: light;

$themes: (
  light: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 96%),
    300: hsl(236, 33%, 92%),
    400: hsl(233, 11%, 84%),
    500: hsl(236, 9%, 61%),
    600: hsl(235, 19%, 35%),
  ),
  dark: (
    100: hsl(235, 24%, 19%),
    200: hsl(235, 21%, 11%),
    300: hsl(237, 14%, 26%),
    400: hsl(233, 14%, 35%),
    500: hsl(234, 11%, 52%),
    600: hsl(234, 39%, 85%),
  ),
);
